.parent{
    margin: 0;
    padding: 2rem;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    box-sizing: border-box;
}

.card{
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    background-color: var(--white);
}

h3{
    width: 100%;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 1rem;

}