.login-btn {
    background-color: var(--color-primary-light);
    border: none;
    outline: none;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    color: var(--color-primary);
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 200ms ease;
}

.login-btn:hover {
    background-color: var(--color-primary-dark);
    color: var(--white);
    transform: scale(1.06);
    box-shadow: var(--box-shadow);
}