aside{
    width: 18rem;
    /* box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05); */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

aside header{
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.menu{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 1.5rem;
}
.menu a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--black);
    transition: all 100ms ease;
}

.menu  a:hover{
    scale: 1.018;
}

.menu  a:last-child{
    position: absolute;
    bottom: 2rem;
}

.menu  a:last-child > img{
    width: 17.5px;
}
.activated span{
    /* display: flex;
    align-items: center;
    gap: 0.75rem; */

    color: blue;
}