@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  
}

body{
  font-family: 'Inter', sans-serif;
  max-width: 100%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 10rem;
}

:root{
  --color-primary: #b50101;
  --color-primary-dark: #9e0000;
  --color-primary-light: #ffeeee;
  --color-primary-light-2: #ffffff;


  /* --color-primary: #d11b21;
  --color-primary-dark: #1f1f70;
  --color-primary-light: #fbcbcb;
  --color-primary-light-2: #fff3f3; */

  /* --color-primary: #1092de;
  --color-primary-dark: #009ffa;
  --color-primary-light: #d2efff;
  --color-primary-light-2: #eef9ff;  */

  /* --color-primary: #7380ec; */
  --color-danger:#ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-main-bg: #f8f8f8;
  --white: #fff;
  --black: #000;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --white: #ffffff;
  --card-border-radius: 2rem;
  --color-text:  #363949;

  --bg-gradient-1: linear-gradient(to top,var(--color-primary-light), var(--white));

  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

}


/* Styling Google Material Symbols */
span.size-1 {
  font-size: 1rem;
  color: var(--grey);
}